@import "tailwindcss";

@theme inline {
  --font-header: var(--font-literata), sans-serif;
  --font-body: var(--font-mulish), sans-serif;
}

@theme {
  /* Brand / Accent */
  --color-primary: #51837e;
  --color-primary-hover: #6a9d97; /* lighter */
  --color-primary-active: #3e6c67; /* darker */

  --color-accent: #9d8379; /* warm neutral */
  --color-accent-hover: #bba79e;
  --color-accent-active: #7a645b;

  /* Backgrounds */
  --color-background: #faf9f7; /* off-white */
  --color-surface: #f0ede9; /* cards/sections */

  /* Neutrals / Borders */
  --color-secondary-bg: #eceae7;
  --color-border: #e5e7eb;

  /* Text */
  --color-text: #111827; /* main dark */
  --color-text-light: #6d7175; /* muted */
  --color-text-inverse: #f3f4f6; /* on dark */

  /* Semantic */
  --color-success: #10b981; /* emerald-500 */
  --color-warning: #f59e0b; /* amber-500 */
  --color-error: #d4374f; /* destructive red */

  /* Highlight */
  --color-highlight: #feebae; /* warm gold */
}
